@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--black);
  min-height: 500px;
}
